body {
  margin: 0%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0%;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.app {
  height: 100vh;
}

.header {
  display: flex;
  width: 98vw;
}

.header__logo__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 20vw;
  margin: 0%;
  height: 100%;
}

.header__nav {
  display: block;
  margin-left: 28vw;
}

.header__list {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  width: 50vw;
}

.bxs-cart-alt {
  color: black;
  font-size: 2rem;
}

.bxs-cart-alt:hover {
  cursor: pointer;
}

.link {
  color: black;
  font-size: 2rem;
}

.link__active {
  color: brown;
  font-size: 2.1rem;
}

.login {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

.login__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 3%;
  border: solid 1px;
  border-radius: 10px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.login__title {
  text-align: center;
}

.login__div-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login__div-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sign-up__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2em;
}

.sign-up__div-name {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sign-up__label {
  display: none;
}

.sign-up__input {
  height: 1.7rem;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(76, 72, 72, 0.8);
  border-width: 1px;
  background-color: #f5f6f7;
  width: calc(1 / 3 * 100%);
}

.sign-up__div-phone {
  display: flex;
  justify-content: center;
}

.PhoneInput {
  justify-content: center;
  background-color: #ffffff;
  border-style: none;
}

.PhoneInputInput {
  height: 1.7rem;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(76, 72, 72, 0.8);
  border-width: 1px;
  background-color: #f5f6f7;
  width: calc(1 / 3 * 100%);
}

.home {
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
}

.home__container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
  gap: 5%;
  height: fit-content;
  min-height: calc(90vh - 80px);
}

.loader__container {
  height: calc(90vh - 80px);
  display: flex;
  align-items: center;
}

.loader__div {
  width: 10em;
  height: 10em;
  background-color: #ffffff;
  border: 10px solid #d33f3f;
  border-top: 10px solid #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  animation: rotation 1.7s 0.2s infinite cubic-bezier(0.34, 0.66, 1, 0.59);
}

.product-card {
  height: fit-content;
  min-width: 400px;
  padding: 1%;
  border: 1px solid #ccc7;
  border-radius: 2%;
  margin: 3% 0%;
}

.product-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 2px 2px 10px #0003;
  transform: box-shadow 400ms ease, transform 400ms ease;
}

.product-card__header {
  padding: 20px;
  height: 220px;
  border-bottom: 1px solid #ccc7;
}

.product-card__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-card__img-active {
  display: none;
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.product-card__img:hover {
  display: flex;
}

.product-card__img-active:hover {
  display: visible;
}

.product-card__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10%;
}

.product-card__title {
  font-weight: bolder;
}

.product-card__price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 5%;
}

.product-card__price-label {
  margin-top: 0%;
  margin-bottom: 3%;
  font-weight: 200;
  color: rgb(180, 177, 177);
}

.product-card__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__btn {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 1px solid #ccc7;
  font-size: 2rem;
  background-color: #e85a5a;
  color: #f3e1e1;
}

.product-card__btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 2px 2px 5px #0003;
  transform: box-shadow 400ms ease, transform 400ms ease;
}

.product__info {
  margin: 5% 3%;
}

.product__info-desc {
  font-weight: 200;
}

.product__info-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.product__info-price {
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
}

.product__info-price-label {
  font-weight: 100;
  color: rgb(180, 177, 177);
}

.product__info-quantity-box {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  align-items: center;
}

.product__info-quantity-counter {
  display: flex;
  align-items: center;
  gap: 10%;
  height: 50%;
}

.product__info-quantity-counter button {
  border-radius: 1em;
  width: 45px;
  height: 35px;
  padding: 0%;
  margin: 0%;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
}

.product__info-btn-cart {
  width: calc(1 / 3 * 100%);
}

.container__similar-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

.title__similar-products {
  text-align: center;
  border-bottom: 1px solid #ccc7;
}

.purchases__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
}

.purchases__title {
  text-align: center;
}

.card__container {
  border: 1px solid #ccc7;
  width: 40vw;
  margin: 2%;
  border-start-start-radius: 0.6rem;
  border-start-end-radius: 0.6rem;
}

.card_purchase-date-container {
  width: 100%;
  border-bottom: 1px solid #ccc7;
}

.card__purchase-date {
  text-align: start;
  padding-left: 2rem;
}

.card__purchase-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  margin: 1% 5%;
  gap: 3%;
}

.card__purchase-quantity {
  width: 1rem;
  border: solid 1px #ccc7;
  padding: 0.5rem 1rem;
  margin-left: 50%;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__container {
  margin-bottom: 5%;
}

.cart__item-container {
  width: 60vw;
  min-width: -moz-fit-content;
  min-width: -webkit-fill-available;
  min-width: fit-content;
  border: 1px solid rgba(71, 67, 67, 0.467);
  box-shadow: 2px 2px 10px #0003;
  border-radius: 1rem;
  margin: 5% 0%;
}

.cart__item {
  width: 100%;
  text-align: center;
}

.cart__item-header {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0% 5%;
}

.cart__item-header-interior {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  margin-top: 3%;
}

.cart__category {
  margin: 0%;
  text-align: start;
  font-size: 0.8rem;
  color: rgba(34, 33, 33, 0.221);
}

.cart__name {
  margin: 0%;
}

.cart__trash {
  font-size: 2rem;
  color: #dc1e1e;
  width: 50%;
  margin-top: 5%;
  display: flex;
  justify-content: end;
}

.cart__trash:hover {
  color: #8f0808;
  cursor: pointer;
  transform: scale(1.01) translateX(-0.45%);
  transform: box-shadow 400ms ease, transform 400ms ease;
}

.cart__item-footer-container {
  margin-top: 5%;
}

.cart__item-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__iten-span {
  width: calc(1 / 3 * 100%);
  text-align: center;
}

.cart__item-div {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  width: 100%;
}

.cart__total-label {
  width: calc(1 / 3 * 100%);
  text-align: end;
  margin-left: 3%;
}

.cart__total-number {
  width: calc(1 / 5 * 100%);
  text-align: end;
  margin-right: 3%;
}

.cart__footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart__btn {
  border-radius: 6px;
  box-shadow: inset 0 0 rgba(0, 0, 0, 0.75),
    inset 0 -0.1em 0 rgba(0, 0, 0, 0.85), 0 0.25em 0.25em rgba(0, 0, 0, 0.75);
  background-color: #fd7c7c;
  color: #030303;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 300;
}

.cart__btn:hover {
  border-style: 1px groove;
}

.cart__btn:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75),
    inset 0 0em 0 rgba(0, 0, 0, 0.85), 0 2px 2px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 768px) {
  .cart__item-container {
    width: 80vw;
  }

  .cart__trash {
    margin-left: 25%;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  color: #e85a5a;
}

::selection {
  color: #e85a5a;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
