body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0%;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.App{
    overflow-x: hidden;
}

.header {
    display: flex;
    width: 98vw;
}

.header__logo__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 20vw;
    margin: 0%;
    height: 100%;
}

.header__nav {
    display: block;
    margin-left: 28vw;
}

.header__list {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    width: 50vw;
}

.bxs-cart-alt {
    color: black;
    font-size: 2rem;
}

.bxs-cart-alt:hover {
    cursor: pointer;
}

.link {
    color: black;
    font-size: 2rem;
}

.link__active {
    color: brown;
    font-size: 2.1rem;
}

.login {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-height: fit-content;
    padding: 3% 0%;
    border: solid 1px;
    border-radius: 10px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.login__title {
    text-align: center;
}

.login__div-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login__div-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.home__container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    gap: 5%;
}

.product-card {
    height: fit-content;
    min-width: 400px;
    padding: 1%;
    border: 1px solid #CCC7;
    border-radius: 2%;
    margin: 3% 0%;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 2px 2px 10px #0003;
    transform: box-shadow 400ms ease, transform 400ms ease;
}

.product-card__header {
    padding: 20px;
    height: 220px;
    border-bottom: 1px solid #CCC7;
}

.product-card__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product-card__img-active {
    display: none;
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.product-card__img:hover {
    display: flex;
}

.product-card__img-active:hover {
    display: visible;
}


.product-card__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10%;
}

.product-card__title {
    font-weight: bolder;
}

.product-card__price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 5%;
}

.product-card__price-label {
    margin-top: 0%;
    margin-bottom: 3%;
    font-weight: 200;
    color: rgb(180, 177, 177);
}

.product-card__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card__btn {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 1px solid #CCC7;
    font-size: 2rem;
    background-color: #e85a5a;
    color: #f3e1e1;
}

.product-card__btn:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 2px 2px 5px #0003;
    transform: box-shadow 400ms ease, transform 400ms ease;
}

.product__info {
    margin: 5% 3%;
}

.product__info-desc {
    font-weight: 200;
}

.product__info-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product__info-price-label {
    font-weight: 100;
    color: rgb(180, 177, 177);
}

.product__info-quantity-box {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.product__info-quantity-counter {
    display: flex;
    gap: 4%;
}
